<form name="newQuestionForm" novalidate>
  <div class="jumbotron" ng-controller="QuestionController as quest">
      <h3>Create a New Question</h3>
      Question: <input type="text" ng-model="quest.newQuestion.q" name="question"ng-minlength="10"/>
      <br></br>
      <button ng-click="quest.addOption()">Add Answer Option: </button>
      <div ng-form="optionForm">
        <div ng-repeat="option in quest.newQuestion.options">
          <input type="radio" name="answer" value="{{option.value}}" ng-model="quest.newQuestion.answer"></input>
          <input type="text" name="option" ng-model="option.value" ng-minlength="1"></input>
          <button class="btn btn-xs btn-danger" ng-click="quest.deleteOption($index)">Delete</button>
        </div>
      </div>
      <br></br>
      Difficulty: <input type="number" ng-model="quest.newQuestion.difficulty" name="difficulty" />
      <br></br>
      <button ng-click="quest.submit()">Submit Question</button>
  </div>
</form>